.activity {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
}

.activity--selected {
  border: 2px solid var(--app-selected-color);
}

.activity__resize {
  box-sizing: border-box;
  width: 10px;
}

.activity__resize:hover {
  cursor: ew-resize;
  background-color: var(--app-background-color);
}

.activity__main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: move;
  user-select: none;
  background-color: var(--background-color);
  border: 1px solid black;
}

.activity__main:hover {
  background-color: var(--app-background-color);
}

.activity__actor {
  width: 100%;
  margin: 0 2px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activity__icon {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 48px;
}

.activity__title {
  margin: 0 2px 2px;
  font-size: 12px;
  line-height: 1.25;
}

.activity__svg-line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}
