.diagram {
  position: relative;
  width: 100%;
  height: 100%;
}

.diagram > svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.adding-line {
  pointer-events: none;
  fill: none;
  stroke: black;
  stroke-width: 2;
}
