.comment {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin: 1px;
  background-color: var(--background-color);
  border: 1px solid gray;
}

.comment--selected {
  margin: 0;
  border: 2px solid var(--app-selected-color);
}

.comment:hover {
  cursor: move;
  background-color: var(--app-background-color);
}

.comment__icon {
  display: flex;
  align-items: center;
}

.comment__title {
  font-size: 11px;
  line-height: 1.1;
  white-space: pre;
}

.start-end {
  padding: 2px;
  margin: 1px;
  border: 1px solid gray;
  border-radius: 5px;
}

.start-end--selected {
  margin: 0;
  border: 2px solid var(--app-selected-color);
}

.start-end:hover {
  cursor: move;
  background-color: var(--app-background-color);
}
