.transition {
  fill: none;
  stroke: gray;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}

.transition--hover {
  fill: none;
  stroke: transparent;
  stroke-width: 5px;
}

.transition--hover:hover {
  cursor: pointer;
  stroke: var(--app-hover-color);
}

.transition--selected {
  fill: none;
  stroke: var(--app-selected-color);
  stroke-width: 5px;
}
