.list {
  height: 50%;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.list__scroll--outer {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

.list__scroll--inner {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__item {
  padding: 2px 4px;
  background-color: white;
  cursor: default;
  user-select: none;
}

.list__item--selected {
  background-color: var(--list-selected-color);
}

.list__item:hover {
  background-color: var(--list-hover-color);
}
