.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main__diagram {
  background-color: white;
  flex-grow: 1;
}

.main__zoom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
