.diagram {
  position: relative;
  width: 100%;
  height: 100%;
}

.diagram > svg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.activity {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.activity--selected {
  border: 2px solid lightgray;
}

.activity__resize {
  width: 10px;
  height: 100%;
}

.activity__resize:hover {
  cursor: ew-resize;
  background-color: lightgray;
}

.activity__main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: move;
  border: 2px solid black;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
}

.activity__actor {
  width: 100%;
  font-size: 12px;
  margin: 0 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.activity__icon {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.activity__title {
  font-size: 12px;
  line-height: 1.4;
  margin: 0 2px;
}
