.dialog {
  padding: 0 8px 8px;
  background-color: lightgray;
}

.dialog > form {
  padding: 8px;
  background-color: var(--background-color);
}

.dialog__input {
  display: grid;
  grid-template-columns: 64px 256px 64px;
  gap: 8px;
}

.dialog__buttons {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  margin-top: 16px;
}

.dialog__comment {
  width: 386px;
  height: 128px;
}

.dialog__toolbar {
  display: flex;
  flex-direction: row;
}

.dialog__toolbar-icon {
  box-sizing: border-box;
  width: 68px;
  height: 52px;
  cursor: pointer;
  border: 2px solid var(--button-background-color);
  border-radius: 5px;
}
