.dialog {
  box-sizing: content-box;
  width: 500px;
  padding: 0 8px 8px;
  background-color: lightgray;
}

.dialog > form {
  padding: 8px;
  background-color: var(--background-color);
}

.dialog__input {
  display: grid;
  grid-template-columns: 80px 220px 180px;
  gap: 8px;
}

.dialog__message {
  margin-top: 16px;
}

.dialog__buttons {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  margin-top: 16px;
}

.dialog__comment {
  width: 386px;
  height: 128px;
}

.dialog__toolbar {
  display: flex;
  flex-direction: row;
}

.dialog__toolbar-icon {
  box-sizing: border-box;
  width: 68px;
  height: 52px;
  cursor: pointer;
  border: 2px solid var(--button-background-color);
  border-radius: 5px;
}

.dialog > textarea {
  width: 600px;
  height: 400px;
}

.table {
  width: 484px;
  border-collapse: collapse;
  border: 1px solid gray;
}

.table thead {
  display: block;
  padding-right: 15px;
  background-color: lightgray;
}

.table tbody {
  display: block;
  height: 88px;
  overflow: hidden scroll;
}

.table--tr2 > td {
  width: 240px;
  padding-left: 4px;
}

.table--tr2 input {
  width: 220px;
}

.table--tr4 > td {
  width: 120px;
  padding-left: 4px;
}

.table--tr4 input {
  width: 100px;
}

.table__buttons {
  display: flex;
  column-gap: 8px;
  justify-content: flex-end;
  margin-top: 8px;
}

.table__row--selected {
  background-color: var(--app-selected-color);
}
