.icon__tool {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 48px;
}

.icon__tool-activity {
  box-sizing: border-box;
  display: flex;
  width: 64px;
  height: 48px;
}

.icon__tool-activity > div {
  display: flex;
  flex-direction: column;
}
