.app {
  display: grid;
  grid-template-columns: 160px 96px 1fr;
  grid-template-rows: 24px 1fr 1fr;
  height: 100vh;
  width: 100%;
}

.app__menu {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.app__process-list {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: calc(50vh - 20px);
  margin-left: 8px;
}

.app__actor-list {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  height: calc(50vh - 20px);
  margin-left: 8px;
}

.app__tool-button {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  margin-top: 24px;
}

.app__main {
  grid-column: 3 / 3;
  grid-row: 2 / 4;
  height: calc(100vh - 32px);
  margin-right: 8px;
}
