.app {
  display: grid;
  grid-template-rows: 24px 35fr 65fr;
  grid-template-columns: 160px 84px auto;
  width: 100vw;
  height: 100vh;
}

.app__menu {
  grid-row: 1;
  grid-column: 1 / 4;
}

.app__process-list {
  grid-row: 2;
  grid-column: 1;
  height: calc(35vh - 20px);
  margin-left: 8px;
}

.app__actor-list {
  grid-row: 3;
  grid-column: 1;
  height: calc(65vh - 20px);
  margin-left: 8px;
}

.app__toolbar {
  grid-row: 2 / 4;
  grid-column: 2;
  margin-top: 24px;
}

.app__main {
  grid-row: 2 / 4;
  grid-column: 3;
  width: calc(100vw - 254px);
  height: calc(100vh - 32px);
}
