body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;

  font-size: 12px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: darkorange;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
