:root {
  --main-background-color: #c5e1a5;
  --menu-background-color: #8bc34a;
  --menu-selected-color: #689f38;
  --list-selected-color: #8bc34a;
  --list-hover-color: #689f38;
  --devider-hover-color: #689f38;

  --font-color: #0f0f0f;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;

  font-size: 12px;
  line-height: 24px;
  font-weight: 400;

  color: var(--font-color);
  background-color: var(--main-background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h5 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

dialog {
  padding: 0 8px 8px 8px;
  background-color: lightgray;
}

dialog > form {
  background-color: white;
  padding: 8px;
}
